.feedback,
.call {
  background-color: white;
  width: 320px;
  height: 100%;
  position: fixed;

  right: -500px;
  top: 0;
  transition: all ease-out 0.5s;
  z-index: 5;
  box-shadow: 2px 0 40px 0 lightgrey;
}

.feedback--show,
.call--show {
  transform: translate(-500px);
}

@media (max-width: 767px) {
  .feedback,
  .call {
  background-color: white;
  width: 100%;
  height: 100%;
  position: fixed;

  right: -100%;
  top: 0;
  transition: all ease-out 0.5s;
  z-index: 5;
  box-shadow: unset;
  }

  .feedback--show,
  .call--show {
    transform: translate(-100%);
  }
}

.feedback__main,
.call__main {
  padding: 24px 0 0 16px;
}

.feedback__close-button,
.call__close-button {
  margin-left: 4px;
  padding-bottom: 20px;
}

.feedback__title,
.call__title {
  white-space: nowrap;
  margin-top: 0px;
  padding-top: 20px;
  margin-bottom: 24px;
  &::before {
    content: url("/src/img/highlight.svg");
    margin-left: -16px;
    margin-top: -10px;
    max-height: 22px;
    float: left;
  }
}

.feedback__content,
.call__content {
  margin-top: 24px;
  position: relative;
  padding-bottom: 126px;
}

.feedback__agreement {
  margin-bottom: 23px;
  font-size: 14px;
  line-height: 16px;
}

.call__agreement {
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 16px;
}

.feedback__order,
.call__order {
  position: absolute;
  right: 5%;
}

.input {
  border: 1px solid #eaeaea;
  border-radius: 8px;
  margin-bottom: 16px;
  width: 90%;
  height: 48px;
}

.input:nth-child(4) {
  min-height: 102px;
}

input {
  border: none;
  position: relative;

  &:focus {
    outline: none;
  }
}

.input__inner {
  margin-top: 2px;
  margin-left: 2px;
  padding: 15px 15px 15px 16px;
  width: 90%;
  height: 90%;
}

.input__message {
  padding-bottom: 80px;
}

.input__inner::placeholder {
  color: #b5b6bc;
}

.policy-link {
  color: $pink;
  text-decoration: none;
}

@media ($minDesktop) {
  .feedback__close-button,
  .call__close-button {
    position: absolute;
    left: -60px;
    top: 34px;
  }
}

@media ($minTablet) {
  .feedback,
  .call {
    width: 440px;
  }
  
  .feedback__main,
  .call__main {
  padding: 24px 0 0 32px;
  }

  .feedback__title::before,
  .call__title::before {
    margin-left: -33px;
  }
}
